<template lang="pug">
v-container
    v-card.mx-auto(color="gray" max-width="800")
        v-card-title Авторизация
        v-card-text
            v-alert.mb-4(v-if="error" type="warning") {{this.error}}

            v-form(ref="form" v-model="valid" lazy-validation)
                v-text-field(v-model="email" :rules="[rules.required, rules.email]" label="E-mail" required)
                v-text-field(v-model="password" type="password" :rules="[rules.required, rules.pass]" label="Пароль" required)
                v-btn(:disabled="!valid" color="success" class="ma-4" @click="send") Войти
            
            v-divider.mb-4 
            v-col(class="text-right")
                router-link(to="/register") Регистрация 
            
</template>

<script>
import env from 'process';
export default {
    name: 'AuthForm',

    data() {
        return {
            valid: true,
            email: '',
            password: '',
            rules:{
                required: v => !!v || 'Поле обязательно для заполнения',
                email: v => /.+@.+\..+/.test(v) || 'E-mail некорректный',
                pass: v => v.length > 3 || 'Пароль должен быть более 3х символов'
            },
            error: false
        }
    },

    created() {
        if(localStorage.getItem('authUser')){
            this.$router.push('/');
        }
    },

    methods: {
        async send () {
            await this.$axios.get('/sanctum/csrf-cookie');
            const response = (await this.$axios.post('api/v1/login', {email: this.email, password: this.password})).data;
            
            if(response.errors) {
                this.error = response.errors;
            }

            if(response.success){
                localStorage.setItem('authUser', response.message.token)
                this.$router.go('/');
                
            }
        },

        showErrors(){
            if(this.error){
                if(typeof this.error == 'object'){
                    this.error = this.error.join('<br>');
                }
            }
        }
    }
}
</script>

<style>

</style>