<template lang="pug">
v-container
    v-card.mx-auto(color="gray" max-width="800")
        v-card-title Регистрация пользователя
        v-card-text
            v-alert.mb-4(v-if="success != null" :type="success ? 'success' : 'warning'") 
                template(v-if="success")  Вы успешно зарегистрированы и можете войти в систему!
                template(v-else) Ошибка, проверьте поля или попробуйте позже!

            v-form(ref="form" v-model="valid" lazy-validation)
                v-text-field(v-model="email" :rules="[rules.required, rules.email]" label="E-mail" required)
                v-text-field(v-model="password" type="password" :rules="[rules.required, rules.pass]" label="Пароль" required)
                v-text-field(v-model="password_confirmation" type="password" :rules="[rules.required, rules.pass, rules.confirmation]" label="Подтверждение пароля" required)
                v-btn(:disabled="!valid" color="success" class="ma-4" @click="send") Регистрация
            
            v-divider.mb-4 
            v-col(class="text-right")
                router-link(to="/login") Уже зарегистрированы?
            
</template>

<script>
import env from 'process';
export default {
    name: 'AuthForm',

    data() {
        return {
            valid: true,
            email: '',
            password: '',
            password_confirmation: '',
            rules:{
                required: v => !!v || 'Поле обязательно для заполнения',
                email: v => /.+@.+\..+/.test(v) || 'E-mail некорректный',
                pass: v => v.length > 3 || 'Пароль должен быть более 3х символов',
                confirmation: v => v == this.password || 'Пароли не совпадают'
            },
            success: null,
            message: ''
        }
    },

    created() {
        if(localStorage.getItem('authUser')){
            this.$router.push('/');
        }
    },

    methods: {
        async send () {
            await this.$axios.get('/sanctum/csrf-cookie');

            const response = (await this.$axios.post('api/v1/register', {email: this.email, password: this.password, password_confirmation: this.password_confirmation})).data;
            
            this.success = response.success;

            console.log("reg data", response)

            if(response.errors) {
                this.message = response.errors;
            }

            if(response.success){
                this.message = 'Вы успешно зарегистрированы!';
                // this.$router.go('/');
            } else {
                this.message = 'Произошла ошибка!';
            }
        },

        showMessage(){
            if(this.message){
                if(typeof this.message == 'object'){
                    this.message = this.message.join('<br>');
                }
            }
        }
    }
}
</script>

<style>

</style>