<template>
<div>
  <nav>
    <router-link to="/">Главная</router-link> |
    <router-link to="/phrases">Афоризмы</router-link>
    <template v-if="isLogged">
      |
      <a @click.prevent="logout" href="#">Выход</a>
    </template>

  </nav>
  <div style="max-width:900px; margin: 0 auto;">
    <router-view/>
  </div>
</div>
</template>

<script>
  export default {
    data() {
      return {
        
      }
    },
    computed:{
      isLogged(){
        console.log('islogged', localStorage.getItem('authUser'))
        return localStorage.getItem('authUser');
      }
    },
    methods: {
      logout() {
        localStorage.removeItem('authUser')
        this.$router.go();
      }
    },
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
