<template lang="pug">
div(class="home")
  v-card(:loading="loading" class="mx-auto my-12" max-width="800" elevation="4")
    v-card-title Тестовое задание AbeloHost
    v-card-text.text-left
      p Привет! Меня зовут Артем и это мое тестовое задание
      p.mb-2 Оно заключается в том, что мне нужно за 48 часов поднять Front на 
        v-chip(color="green") Vue 
        span и Back на 
        v-chip(color="red") Laravel

      p.my-2 В общем так как времени долго думать особо небыло, решил сделать просто страницу авторизации, и для CRUD операций дать сущность красивых фраз (или не красивых)
      p.my-2 Были использованы сущности и технологии как:
      v-list
        v-list-item Migrations
        v-list-item Seeds
        v-list-item Resourse 
        v-list-item Sanctum 
        v-list-item Models and Controllers
        v-list-item Vue Cli
        v-list-item Laravel Sail
      p.my-2 В общем инчего сверхъестественного, все просто и работает)
  

      v-divider
      p.font-italic.mt-4 При этом мне запретили использовать Nuxt или что-то еще ;) - поэтому страдайте)

  AuthForm
    
</template>

<script>

export default {
  name: 'HomeView',
  
  data() {
    return {
      loading: false
    }
  },
  
  methods: {
    
  },
  
}
</script>
