<template>
  <div class="login">
    <h1>Авторизация</h1>
    <auth-form/>
  </div>
</template>

<script>
import AuthForm from '@/components/user/AuthForm.vue'
export default{
  name: 'login',

  data() {
    return {
      
    }
  },

  components:{
    AuthForm
  }
}
</script>
