<template lang="pug">
v-container 
  h1.mb-4 Лучшие аформзимы
  v-col.text-left
    v-btn(color="success" @click.prevent="fetchPhrase") 
      v-icon.mb-1(dense) mdi-refresh
      | Рандомный афоризм 

  p(class="font-weight-thin" v-if="!phrases") Ищем фразу...
  v-card(class="mx-auto" max-width="900" tile elevation="7" v-if="phrases")
    v-list-item(two-line v-for="item in phrases" :key="item.id")
      v-list-item-action
        v-btn.mr-1(outlined icon @click="like(item)")
          v-icon(:color="item.liked ? 'orange darken-3' : 'grey lighten-1'") mdi-thumb-up
        v-btn.mr-3(v-if="item.owner" outlined icon @click="remove(item)")
          v-icon(color='red darken-3') mdi-delete
      v-list-item-content
        v-list-item-title {{item.title}} 
        v-list-item-subtitle {{ item.text }}
      
  v-alert.mt-4(type="success" v-if="success != null && success === true") Успешно!
  v-alert.mt-4(type="warning" v-if="success != null && success === false") Ошибка попробуйте позже!
  v-card(class="mx-auto mt-4" max-width="900" tile elevation="7")
    v-card-title.text-center Создайте свой афоризм
    v-card-text(class="text-left")
      v-form(v-model="valid" lazy-validation )
        v-text-field(label="Заголовок" v-model="form.title" :rules="[rules.required]" required)
        v-textarea(label="Текст" hint="Напишите что-нибудь вдохновляющее или веселое!" v-model="form.text" :rules="[rules.required]" required)
        v-btn(:disabled="!valid" color="success" class="ma-4" @click.prevent="send") Отправить

</template>

<script>
export default {
  name: 'Phrases',
  data() {
    return {
      api: '/api/v1/phrase',
      valid: true,
      phrases: false,
      success: null,
      rules:{
        required: v => !!v || 'Поле обязательно для заполнения',
      },
      form:{
        id: false,
        title: '',
        text: ''
      }
    }
  },
  methods: {
    async fetchPhrase(){
      this.phrases = false;

      const token = localStorage.getItem('authUser');
      await this.$axios.get('/sanctum/csrf-cookie');
      const response = (await this.$axios.get(this.api, { headers: {"Authorization" : `Bearer ${token}`} })).data;
      
      if(response.success){
        this.phrases = response.message;
      }
    },

    send(){
      const token = localStorage.getItem('authUser');
      this.$axios.post(this.api, this.form, { headers: {"Authorization" : `Bearer ${token}`} } )
      .then(data => {
        this.success = data.data.success;
        
        if(data.data.success){
          this.form.title = '';
          this.form.text = '';  
        }
      })
    },

    like(phrase){
      if(!phrase.id) return;
      const token = localStorage.getItem('authUser');
      this.$axios.get(`${this.api}/like/${phrase.id}`,{ headers: {"Authorization" : `Bearer ${token}`} } )
      .then(data => {
        if(data.data.success){
          phrase.liked = !phrase.liked;
        }
      })
    },

    remove(phrase){

      if(!phrase.id) return;

      if(confirm('Подтвердите удаление..')) {
        
        const token = localStorage.getItem('authUser');
        this.$axios.delete(`${this.api}/${phrase.id}`, { headers: {"Authorization" : `Bearer ${token}`} } )
        .then(data => {
          this.success = data.data.success;

          if(data.data.success){
            this.fetchPhrase();
          }
        })
      }

    }
  },
  created(){
    this.fetchPhrase()
  }
}
</script>

<style>

</style>