<template>
  <div class="register">
    <h1>Регистрация</h1>
    <register-form/>
  </div>
</template>

<script>
import RegisterForm from '@/components/user/RegisterForm.vue'
export default{
  name: 'register',

  data() {
    return {
      
    }
  },

  components:{
    RegisterForm
  }
}
</script>
